
.audioPlayerContainer {
  width: 75%;
}

.ratingAvg {
  font-style: italic;
}

.trackCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 3% 0;
}

.ratingInline {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1%;
}